:root {
  /* Colors Theme */
  --color-yellow: #f5d12f;
  --color-dark-yellow: #f0bc0c;
  --color-blue: #10649c;
  --color-black: #000;
  --color-white: #fff;
  --color-red: #dc0505;

  /* Borders */
  --border-radius: 15px;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: hwb(210 0% 20%);
  text-decoration: inherit;
}
a:hover {
  color: #0052a3;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
